<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config timestamp="${timestamp}">
    <base uri="https://your-update-server.com/downloads/"/>

    <files>
        <file path="IdeaSpaceBoard.jar"
              uri="idea-space-board-1.0.0.jar"
              checksum="b3a3e3c0..." size="58720256"/>
    </files>
</config>